
.jumbotron {
    background-color: transparent;
    text-align: center;
    letter-spacing: 1.5px;
}
.bbton {
    margin-top: 120px;
}

.bodyimage {
    height: 100px;
}

.featured {
    margin-top: 300px;
}



.carsosel {
    margin-top: 300px;
}
