body{
    font-family: Volkorn, sans-serif;
    color: white;
    position: relative;
}
/*background video*/
#bdVideo {
    position: fixed;
     min-height: 100%;
        min-width:100%;
    z-index: -100;
}

/*navbar styling*/
.navbar-default {
    background-color: #1b3759;
    font-size: 18px;
   
  
}
.navbar-default .navbar-brand{
    color: white;
}
.navbar-default .navbar-brand:hover{
    color: white;
}
.navbar-default .navbar-nav li a{
    color:gray;
}
.navbar-default .navbar-nav li a:hover{
    color:white;
}
/*style jumbotron*/
.jumbotron {
   background-color: transparent;
    text-align: center;
    letter-spacing: 1.5px;
    padding-top: 15%;
}
.jumbotron h1{
    color: white;
    margin-bottom: 30px;
}
.jumbotron p  {
    color: white;
}

.bbton {
    margin-top: 80px;
}
/*about*/
#iconContent {
    padding-top: 15%;
    color: white;
}
#iconContent h3{
    font-weight: bold;
   
}
#iconContent p{
    font-size: 17px;
    margin-bottom: 50px;
}
.container {
    max-width: 1000px;
}


.bodyimage {
    height: 100px;
}

.featured {
    margin-top: 100px;
}



.carsosel {
    margin-top: 300px;
}




.item .carousel-caption h2{
    color: white;
}

#promise {
    margin-top: 100px;
    padding-top: 200px;
}

#carousel-example-generic {
    width: 60%;
    margin: 0 auto;
/*    text-align: center;*/
}
.carousel-inner .item img{
    height: 400px;
    margin: 0 auto;
    
}
.carousel-caption{
    position: relative;
    left: auto;
    right: auto;
    height: 200px;
}
@media(max-device-width:768px){
    body{
        background:url(images/blue-blur-color-932638.jpg) center center fixed;
        background-size: cover;
    }
    #bdVideo{
      display: none;
    }
}
@media(max-width:768px){
    .carousel-inner .item img{
        height: 300px;
    }
    .carousel h2{
        font-size: 23px;
    }
}
@media(max-width:400px){
    .carousel-inner .item img{
        height: 200px;
    }
    .carousel h2{
        font-size: 17px;
    }
    .navbar-default .navbar-brand{
        font-size: 12px;
    }
}

.footer {
    background-color: rgba(29,167,179,0.1);
    color: white;
    padding: 10px o;
    margin-top: 150px;
    font-size: 15px;
}
